.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--light-gray);
  padding: 2em 5em;
}

.navbar-left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;
}

.navbar-right-section {
  align-self: center;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.navbar ul {
  list-style: none;
}

.navbar h1 {
  font-size: 2rem;
  font-weight: 500;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

.navbar p {
  font-size: 1.25rem;
}

.navbar-links a:hover {
  color: var(--light-blue);
}

.active {
  color: var(--light-blue);
}
